### os module,list dir

In [3]:
import os
os.listdir()

['.git',
 'panda.py',
 'supermarkets.json',
 'Untitled.ipynb',
 'README.md',
 '.ipynb_checkpoints']

### pandas module,import json or other file format

In [7]:
import pandas
df1=pandas.read_json("supermarkets.json")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

### get number of columns and rows

In [8]:
df1.shape

(6, 7)

### open exel xlsx file, sheetname is used to specify sheet number

In [ ]:
df3=pandas.read_excel("file_name_or_path_to_file",sheetname=0)

### open data from online source

In [15]:
df5=pandas.read_json("http://pythonhow.com/supermarkets.json")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

### use df5.drop method to delete entries

### using geopy module

In [16]:
import geopy

In [18]:
from geopy.geocoders import Nominatim

In [22]:
user_agent=Nominatim(user_agent="panda")

In [23]:
nom=Nominatim(scheme="http")

/home/aca/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  """Entry point for launching an IPython kernel.

In [24]:
nom.geocode("3995 23rd St, San Francisco, CA 94114")

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, USA, (37.7529648, -122.4317141, 0.0))